.dragGuide {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dragGuide svg {
  flex: none;
  height: 256px;
  width: 256px;
  opacity: 0.6;
}
