/* Use the dragOverlay to also intercept zoom/pan attempts on mobile */
.dragOverlay {
  position: fixed;
  z-index: 10;
  height: 100vh; /* https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dragOverlay svg {
  flex: none;
  height: 256px;
  width: 256px;
  opacity: 0.6;
}
